// taken from: https://css-loaders.com/progress/

.LoadingIndicator {
  height: 8px;
  width: 100%;
  --c: no-repeat linear-gradient(var(--primary-color) 0 0);
  background: var(--c), var(--c), var(--secondary-color);
  background-size: 60% 100%;
  animation: loading-animation 3s infinite;
}

@keyframes loading-animation {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}
