.LoginForm {
  .card-title {
    color: hsl(0, 0%, 20%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 54px;
  }

  padding: 22px 0;

  .Button {
    align-self: center;
    margin-top: 50px;
  }

  fieldset {
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-inline: 0;
    padding-block: 0;
    padding: 0 22px;

    > [role='alert'] {
      width: 100%;
      margin-top: 32px;
      text-align: left;
      background-color: var(--error-background-color);
      color: var(--error-color);
      padding: 1rem;
      box-sizing: border-box;
      border-left: 8px solid;

      &::before {
        content: '⚠️';
        display: inline-block;
        margin-right: 1ch;
      }
    }
  }

  legend {
    margin: 0;
    padding: 0;
  }
}
