.TextField {
  --text-field-padding: 18px;
  --text-field-height: 52px;
  --text-field-label-y-position: calc(var(--text-field-height) / 3);
  --text-field-font-size: 16px;

  width: 100%;
  margin-bottom: var(--text-field-padding);
  font-size: var(--text-field-font-size);

  .input-wrapper {
    height: var(--text-field-height);
    width: 100%;
    position: relative;
  }

  label {
    color: hsla(0, 0%, 47%, 1);
    position: absolute;
    left: var(--text-field-padding);
    top: var(--text-field-label-y-position);
    z-index: 1;
    transition: all 0.15s ease-in;
    font-size: 14px;
  }

  input {
    display: block;
    position: absolute;
    width: calc(100% - 2 * var(--text-field-padding));
    left: 0;
    top: 0;
    background: hsla(248, 100%, 97%, 0.8);
    border: none;
    font-size: var(--text-field-font-size);
    padding: var(--text-field-padding);
    border-radius: var(--border-radius);
    outline-color: var(--primary-color);
    outline-style: none;

    &::placeholder {
      color: transparent;
    }

    &:focus-within + label,
    &:not(:placeholder-shown) + label {
      transform: translateY(calc(var(--text-field-label-y-position) * -1))
        scale(0.9);
      transform-origin: left;
    }

    &:focus-visible {
      outline-width: 2px;
      outline-style: solid;
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.67;
      cursor: not-allowed;
    }
  }

  &.error {
    input {
      outline-color: var(--error-color);
    }
  }

  .error-message {
    margin-top: 8px;
    z-index: 2;
    bottom: 0;
    font-size: 0.75rem;
    right: 0;
    color: var(--error-color);
    border-bottom-right-radius: var(--border-radius);
    text-align: left;
    padding-left: var(--text-field-padding);
  }
}
